:root {
  --blue: rgb(29, 155, 240);
  --font-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
  --small-text-color: rgb(113, 118, 123);
  --border-color: rgb(47, 51, 54);
  --search-background-color: rgb(32, 35, 39);
  --explore-background-color: rgb(22, 24, 28);
  --search-text-color: rgb(231, 233, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
  color: white;
}

body {
  background-color: black;
}

.container {
}

.header,
.timeline,
.explore {
  height: 100vh;
}

.flex {
  display: flex;
}
.alignJ {
  justify-content: center;
}
.alignI {
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-gap-small {
  gap: 0.6rem;
}
.flex-gap-medium {
  gap: 1.2rem;
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 2fr);
}

.wrapper {
  display: inline-block;
}

.tweet-button-big:link,
.tweet-button-small:link,
.tweet-button-big:visited,
.tweet-button-small:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.3rem 9rem;
  border-radius: 9rem;
  color: white;
  background-color: var(--blue);
  transition: all 0.3s;
}
.tweet-button-small:link,
.tweet-button-small:visited {
  background-color: rgb(36, 86, 119);
  color: grey;
  padding: 0.8rem 1.6rem;
}
.tweet-button-big:hover,
.tweet-button-big:active {
  background-color: rgb(27, 142, 220);
}
.tweet-button-follow:link,
.tweet-button-follow:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.6rem 1.8rem;
  border-radius: 9rem;
  color: black;
  background-color: white;
  transition: all 0.3s;
}
.tweet-button-follow:hover,
.tweet-button-follow:active {
  background-color: rgb(208, 206, 206);
}

.trend-show-more {
  font-size: 1.6rem;
  color: var(--blue);
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
}
.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.name-link:link,
.name-link:visited {
  color: white;
  text-decoration: none;
}
.name-link:hover,
.name-link:active {
  text-decoration: underline;
}
.username {
  color: var(--small-text-color);
  font-size: 1.4rem;
}
.pfps {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nav-icon,
.message-icon {
  fill: white;
  width: 3.2rem;
  height: 3.2rem;
}
.message-icon {
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.7rem;
  border-radius: 40%;
}
.message-icon:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.icon-more {
  width: 2rem;
  height: 2rem;
}
.icon-more-grey {
  width: 2rem;
  height: 2rem;
  fill: var(--small-text-color);
}

.icon-more-link:link,
.icon-more-link:visited {
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-more-link:hover {
  background-color: rgba(29, 156, 240, 0.15);
}
.icon-more-link:hover .icon-more-grey {
  fill: var(--blue);
}

.grey-text {
  color: var(--small-text-color);
}

.big-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.6rem;
}

.bold {
  font-weight: 500;
}

.padding {
  padding: 0.8rem 1.2rem;
}

.border-top {
  border-top: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}

.my-tweet-icon {
  fill: var(--blue);
  width: 2rem;
  height: 2rem;
}
.my-tweet-icon-link:link,
.my-tweet-icon-link:visited {
  padding: 0.5rem;
}
.my-tweet-icon-link:hover,
.my-tweet-icon-link:active {
  background-color: rgba(29, 156, 240, 0.15);
  border-radius: 50%;
}

.grey-icon {
  fill: var(--small-text-color);
  width: 2rem;
  height: 2rem;
}
