:root {
  --blue: rgb(29, 155, 240);
  --font-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
  --small-text-color: rgb(113, 118, 123);
  --border-color: rgb(47, 51, 54);
  --search-background-color: rgb(32, 35, 39);
  --search-text-color: rgb(231, 233, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
  color: white;
}

body {
}

.container {
}

.header,
.timeline,
.explore {
  height: 100vh;
}

.flex {
  display: flex;
}
.alignJ {
  justify-content: center;
}
.alignI {
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 2fr);
}

.wrapper {
  display: inline-block;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
}
.username {
  color: var(--small-text-color);
  font-size: 1.4rem;
}
.pfps {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.icon-more {
  width: 2rem;
  height: 2rem;
}

.grey-text {
  color: var(--small-text-color);
}

.big-text {
  font-size: 2rem;
}

.bold {
  font-weight: 500;
}

.padding {
  padding: 0.8rem 1.2rem;
}

.border-top {
  border-top: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}

.my-tweet-icon {
  fill: var(--blue);
  width: 2rem;
  height: 2rem;
}
