/*****************************************
HEADER
*****************************************/
.header {
  position: fixed;
  height: 100vh;
  width: 21.48%;
  background-color: black;
}
.tweet-button-big:link,
.tweet-button-small:link,
.tweet-button-big:visited,
.tweet-button-small:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 9rem;
  color: white;
  background-color: var(--blue);
  transition: all 0.3s;
}
.tweet-button-big:link,
.tweet-button-big:visited {
  padding: 1.3rem 9rem;
}
.tweet-button-big:hover,
.tweet-button-big:active,
.tweet-button-small:hover,
.tweet-button-small:active {
  background-color: rgb(27, 142, 220);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  height: 100%;
  margin: 1.8rem 0 1.2rem 1.8rem;
}

/* ul */
.nav-flex {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}

/* li a */
.nav-link {
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  gap: 1.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 99rem;
}

.nav-link:link,
.nav-link:visited,
.self-profile:link,
.self-profile:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active,
.self-profile:hover,
.self-profile:active {
  background-color: rgba(231, 233, 234, 0.1);
}

.nav-icon {
  fill: white;
  width: 3.2rem;
  height: 3.2rem;
}

.self-profile {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 99px;
}

.flex-pfp-name {
  align-items: center;
  gap: 1.2rem;
}

/*****************************************
TIMELINE-EXPLORE
*****************************************/
.timeline-explore {
  margin-left: calc(21.48%);
}

.main-grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
}
/*****************************************
TIMELINE
*****************************************/
.timeline {
  background-color: black;
  overflow-y: scroll;
  width: 100%;
  position: relative;
}
/* Hide the scroll bar but the keep the scrolling functionality */
.timeline::-webkit-scrollbar {
  display: none;
}

.fixed-head-timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  position: fixed;
  width: 46.9%;
  background-color: rgba(0, 0, 0, 50%);
}

.following-for-you {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.following-for-you a:link,
.following-for-you a:visited {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
}
.following-for-you a:hover,
.following-for-you a:active {
  background-color: rgba(231, 233, 234, 0.1);
  /* box-shadow: inset 0rem -0.8rem 0rem 0rem rgb(27, 142, 220); */
}
.my-tweet {
}
.pfp-happening {
  gap: 1.4rem;
  margin-bottom: 1.4rem;
}

.my-tweet-icons {
  padding: 0 2rem;
  gap: 1.4rem;
  margin-left: 5.6rem;
  margin-bottom: 1rem;
}
.my-tweet-icon {
}
.tweet-button-small {
  margin-left: auto;
}

.tweet-container {
  margin-top: 10rem;
  height: 100%;
}

.tweets {
  height: 40%;
  width: 95%;
  background-color: black;
  margin: 0 auto;
  margin-top: 3rem;
}

.home {
  display: block;
}

/*****************************************
EXPLORE
*****************************************/
.explore {
  background-color: black;
}

/* 


.timeline-explore {
grid-template-columns: 59.7fr 40.3fr;
} 

*/
