/*****************************************
HEADER
*****************************************/
.header {
  position: fixed;
  height: 100vh;
  width: 21.48%;
  background-color: var(--background-color);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  height: 100%;
  margin: 1.8rem 0 1.2rem 1.8rem;
}

/* ul */
.nav-flex {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}

/* li a */
.nav-link {
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  gap: 1.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 99rem;
}

.nav-link:link,
.nav-link:visited,
.self-profile:link,
.self-profile:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active,
.self-profile:hover,
.self-profile:active {
  background-color: rgba(231, 233, 234, 0.1);
}

.self-profile {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 99px;
}

.flex-pfp-name {
  align-items: center;
  gap: 1.2rem;
}

/*****************************************
TIMELINE-EXPLORE
*****************************************/
.timeline-explore {
  margin-left: calc(21.48%);
}

.main-grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
}
/*****************************************
TIMELINE
*****************************************/
.timeline {
  background-color: var(--background-color);
  overflow-y: scroll;
  width: 100%;
  position: relative;
}

/* Hide the scroll bar but the keep the scrolling functionality */
.timeline::-webkit-scrollbar {
  display: none;
}

.fixed-head-timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  position: fixed;
  width: 46.9%;
  background-color: rgba(0, 0, 0, 50%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.following-for-you {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.following-for-you a:link,
.following-for-you a:visited {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
}
.following-for-you a:hover,
.following-for-you a:active {
  background-color: rgba(231, 233, 234, 0.1);
}

.my-tweet {
}

.pfp-happening {
  gap: 1.4rem;
  margin-bottom: 1.4rem;
}

.my-tweet-icons {
  padding: 0 2rem;
  gap: 1.4rem;
  margin-left: 5.6rem;
  margin-bottom: 1rem;
}

.tweet-button-small {
  margin-left: auto;
}

.self-tweet-container {
  margin-top: 10rem;
  width: 100%;
}

.tweets {
}

/*****************************************
TWEETS
*****************************************/
.tweets-container {
}
.tweet-box {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.8rem;
  padding: 1.2rem;
  padding-top: 1.8rem;
  background-color: black;
}
.tweet-main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.tweet-head {
  display: flex;
  justify-content: space-between;
  height: 1.8rem;
}
.tweet-content {
  grid-column: 2/3;
  font-size: 1.5rem;
  line-height: 1.2;
}
.tweet-content p:not(:last-child) {
  display: block;
  margin-bottom: 1.2rem;
}

.tweet-content-img {
  width: 100%;
}
.data-img-2 {
  object-fit: contain;
  align-self: stretch;
  object-fit: cover;
}
.data-img-3 {
  grid-row: 1/3;
  align-self: stretch;
  object-fit: cover;
}
.data-img-1 {
  align-self: stretch;
  object-fit: cover;
}

/***********************
TWEET-ICON-TEXT
************************/

.tweet-icon-link:link,
.tweet-icon-link:visited {
  color: var(--small-text-color);
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 1s;
}

.tweet-icons {
  justify-content: space-between;
  transition: all 0.3s;
}
.retweet-area span {
  transition: all 1s;
}

.tweet-icon-link:hover.retweet-area span {
  color: rgb(0, 186, 124);
}
.tweet-icon-link:hover.like-area span {
  color: rgb(249, 24, 128);
}
.tweet-icon-link:hover.views-area span,
.tweet-icon-link:hover.comments-area span {
  color: var(--blue);
}

.tweet-icon-link:hover .retweet {
  fill: rgb(0, 186, 124);
}
.tweet-icon-link:hover .heart {
  fill: rgb(249, 24, 128);
}
.tweet-icon-link:hover .views,
.tweet-icon-link:hover .share,
.tweet-icon-link:hover .comments {
  fill: var(--blue);
}

.tweet-icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--small-text-color);
  transition: all 0.3s;
}
.comment-icon-box,
.retweet-icon-box,
.like-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  border-radius: 50%;
}
.tweet-icon-link:hover .comment-icon-box {
  background-color: rgba(29, 156, 240, 0.15);
}

.tweet-icon-link:hover .retweet-icon-box {
  background-color: rgba(0, 186, 124, 0.15);
}
.tweet-icon-link:hover .like-icon-box {
  background-color: rgba(249, 24, 128, 0.15);
}
.comments {
}
.retweet {
}
.retweet {
}
.heart {
}
.views {
}
.share {
}
/*****************************************
EXPLORE
*****************************************/
.explore {
  background-color: var(--background-color);
  overflow-y: scroll;
}
.explore::-webkit-scrollbar {
  display: none;
}
.search-box {
  position: fixed;
  gap: 2.4rem;
  margin: 1.8rem 1.8rem 0 1.8rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--search-background-color);
  border-radius: 9rem;
}
.happening-label {
  width: 100%;
}
.happening-input {
  border: none;
  width: 100%;
  padding: 2rem 0rem;
  padding-left: 0rem;
  color: white;
  background-color: var(--background-color);
}

.happening-input::placeholder {
  color: var(--small-text-color);
  font-size: 2rem;
}

.search-input {
  display: inline-block;
  border: none;
  padding: 0.5rem 16rem;
  padding-left: 0rem;
  background-color: var(--search-background-color);
  color: white;
}
.search-input::placeholder {
  color: var(--small-text-color);
  font-size: 1.6rem;
}
.happening-follow {
  margin: 8rem 1.2rem 1.2rem 1.2rem;
}
.whats-happening,
.who-to-follow {
  padding: 1.2rem 0 1.2rem 0;
  background-color: var(--explore-background-color);
  border-radius: 1.8rem;
  margin-bottom: 2.4rem;
}
.trending-box,
.follow-box {
  padding: 1rem 1.2rem;
  align-items: flex-start;
  justify-content: space-between;
}
.trending-box:hover,
.trending-box:active,
.follow-box:hover,
.follow-box:active {
  background-color: var(--search-background-color);
}

.trending-link {
  text-decoration: none;
  color: white;
  gap: 0.5rem;
}
.trend-info {
  font-size: 1.2rem;
}
.the-trend {
  font-size: 1.6rem;
  font-weight: 500;
}
.trend-link {
  color: var(--blue);
}
.trend-link:hover {
  text-decoration: underline;
}

.footer-flex {
}
.footer-flex-big {
  gap: 0.6rem;
  margin-left: 1.2rem;
  margin-bottom: 10rem;
}
.footer-flex {
  gap: 1.2rem;
}
.footer-flex a:link,
.footer-flex a:visited {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--small-text-color);
  margin-bottom: 1px;
}

.footer-flex a:hover,
.footer-flex a:active {
  text-decoration: underline;
  margin-bottom: 0;
}
.trademark {
  font-size: 1.2rem;
  color: var(--small-text-color);
}

.message-box {
  position: fixed;
  bottom: 0vh;
  z-index: 999;
  width: 40rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: black;
  border-radius: 2rem 2rem 0rem 0rem;
  margin: 0rem 10rem 0rem 0rem;
  box-shadow: 0px 0px 8px 4px rgba(231, 233, 234, 0.2);
}

.message-logos {
  margin-left: auto;
  gap: 2.4rem;
}

/* 
.timeline-explore {
grid-template-columns: 59.7fr 40.3fr;
} 
*/
